
@model Mission06_Nygard.Views.Home.AboutModel
@{
}
@*  This is a Razor Page file. It is used to generate HTML content for the About page of the website. *@
<h1>All About Joel Hilton</h1>

@* Creates the About page with links and pictures and extra information about Joel Hilton *@
<div>
	<h2>Quick Wits Comedy</h2>
	<p>Joel Hilton has been a performer with <strong>Quick Wits Comedy</strong> since 2001. As an experienced improv comedian, he has entertained audiences for over two decades with his quick thinking, humor, and dynamic stage presence.</p>
	<p>Quick Wits Comedy is a well-known improvisational comedy troupe, and Joel has played a key role in making their shows engaging and unforgettable. His ability to create spontaneous, hilarious moments on stage has made him a favorite among fans of improv.</p>
	<p>Learn more about Quick Wits Comedy by visitng their <a href="https://www.qwcomedy.com/" target="_blank">official website</a>.</p>
</div>
<br />
<div>
	<h2>Baconsale Podcast</h2>
	<p>Beyond improv, Joel is also a part of <strong>Baconsale</strong>, a fun and engaging pop culture podcast. Alongside his co-hosts, he discusses movies, music, TV, food, and video games with a unique blend of humor and insight.</p>
	<p> Want to check it out? Visit the official Baconsale website here:
		<a href="https://baconsale.com/" target="_blank">Baconsale.com</a>
	</p>
	<br />
	<a href="https://baconsale.com/" target="_blank">
		<img src="~/img/baconsalekate.jpg" alt="Baconsale Logo" />
	</a>
</div>

