@* This is the confirmation that the movie has been submitted for review. It is a simple message to inform the user that their submission has been successful. *@

<h2> Movie has been submitted for review. Thank you! </h2>


