
@model Movie

@* // this is where the user can enter the movies to the dataset with the form below (also contains all the fields and a button at the end) *@
<h1> Enter Movies to the Dataset here: </h1>

<form method="post">
@* <form asp-action="@(Model.MovieID == 0 ? "EnterMovies" : "Edit")" method="post"> *@

    @* // we want the MovieId to be in this, but we don't want the user to be able to see it when they create and edit a record *@
 
    <input type="hidden" asp-for="MovieId"/>

    <br />

    <select asp-for="CategoryId">
        <option value="">Select a Category</option>
        @foreach (Category c in ViewBag.Categories)
        {
            <option value="@c.CategoryId">@c.CategoryName</option>
        }
    </select>
    
    @* // behind the curtains, the user is selecting an id, and we are outputting the name of that id with this code (must be set up in the HomeControllor.cs first) *@

    <br />

    <label asp-for="Title"> Title: </label>
    <input asp-for="Title" />
    <br />
    <label asp-for="Year"> Year: </label>
    <input asp-for="Year">
    <br />
    <label asp-for="Director"> Director: </label>
    <input asp-for="Director" />
    <br />
    <label asp-for="Rating"> Rating: </label>
    <select asp-for="Rating">
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
    </select>
    <br />
    <label asp-for="Edited"> Was the movie edited? </label>
    <select asp-for="Edited">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <br />
    <label asp-for="LentTo"> LentTo: </label>
    <input asp-for="LentTo" />
    <br />
	<label asp-for="CopiedToPlex"> Copied to Plex? </label>
    <input asp-for="CopiedToPlex" />
    <br />
    <label asp-for="Notes"> Notes: </label>
    <input asp-for="Notes" />

    <br />

    <button type="submit"> Submit Movie </button>

    <div asp-validation-summary="All"></div>


</form>

