@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}
@* // This is the main page of the website. It contains a picture of Joel Hilton and two links to other pages on the website. *@
<h1>The Joel Hilton Film Collection</h1>

<div>
    <img src="~/img/joelhiltonheadshot.jpg" />
</div>

<div>
    <p>Click the link below to learn more about Joel Hilton's Film Collection!</p>
    <a asp-controller="Home" asp-action="About">All About Joel Hilton</a>
</div>
<br />
<div>
    <p>Add a movie to his film collection!</p>
    <a asp-controller="Home" asp-action="EnterMovies">Enter a Movie!</a>
</div>

